.routes {
  display: grid;
  grid-template-columns: 100%;
}

.saved {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
}

.map-saved {
  position: relative;
}

.stepzzz {
  position: relative;
  height: 75vh;
}

.user-routes-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  background-image: cover;
  background-image: url("https://cdn.wallpapersafari.com/10/12/CWABiF.jpg");
}

.user-routes {
  display: grid;
  height: 100%;
  margin-top: 8em;
  grid-template-columns: 100%;
  grid-auto-rows: 10%;
  box-shadow: 2px 2px 5px black;
  color: black;
}

.user-route-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3.6em;
  margin: 1em 0px;
}

.addy-display {
  font-size: 2em;
  cursor: pointer;
}

.addy-display:hover {
  text-decoration: underline;
}

.dist-display {
  font-size: 20px;
}
.user-maps-display {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2%;
  border-bottom: dotted 2px rgb(255, 255, 255);
  justify-self: center;
}
.user-maps-display2 {
  background-color: rgba(228, 228, 228, 0.603);
  border: groove 5px grey;
  box-shadow: 2px 2px 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-self: center;
}

.delete-button {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-repeat: none;
  background-size: cover;
  margin-left: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtewK0mODnhNNOKfgv-wW3ZQBiBEMbGFh3Ty_UdqrEUrYQNZfstw");
}
.edit-button {
  height: 1em;
  width: 1em;
  background-size: cover;
  background-repeat: none;
  border-radius: 3px;
  margin-left: 10px;
  background-image: url("https://image.flaticon.com/icons/png/512/84/84380.png");
}

.steps-box {
  display: grid;
  grid-template-columns: auto;
  color: white;
  position: absolute;
  right: 0;
  grid-auto-rows: 10%;
  overflow-y: scroll;
  font-size: 20px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.555);
}
