.user-route-title {
  font-weight: bold;
  font-size: 32px;
  margin-top: 50px;
  color: white;
}

.addy-display {
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.addy-display:hover {
  text-decoration: underline;
}

.dist-display {
  font-size: 20px;
  color: white;
}

.user-routes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  background-size: cover;
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/91/11/asphalt-with-road-lines-vector-13889111.jpg");
}

.user-maps-display > .delete-button {
  height: 20px;
  margin-top: 75px;
  width: 20px;
  border-radius: 25px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtewK0mODnhNNOKfgv-wW3ZQBiBEMbGFh3Ty_UdqrEUrYQNZfstw");
}
.user-maps-display .edit-button {
  height: 20px;
  margin-top: 75px;
  margin-left: 100px;
  width: 20px;
  background-size: cover;
  border-radius: 3px;
  margin-left: 10px;
  background-image: url("https://image.flaticon.com/icons/png/512/84/84380.png");
}

h1 {
  font-size: 36px;
  color: white;
  border-bottom: 2px solid rgba(241, 237, 237, 0.753);
  padding: 5px;
}

.map-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 55.7vh;
  width: 100vw;
  background-image: url("https://images8.alphacoders.com/681/681196.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -10px;
}

.steps-box {
  max-height: 500px;
  min-width: 400px;
  overflow: scroll;
  color: black;
  font-size: 20px;
  color: white;
  margin-left: 100px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.555);
}
