.user-maps-display {
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 501px;
  max-height: 100%;
}

.delete-button {
  margin-top: 2px;
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.addy-display {
  background: orange;
  cursor: pointer;
}
