.descrip {
  color: white;
}

.steps-box {
  height: 600px;
  width: 300px;
  overflow: scroll;
  color: black;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
}

.map {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -10px;
}
.map-window2 {
  width: 60%;
  height: 100%;
  margin-top: 50px;
  margin-left: 100px;
}
