.descrip {
  color: white;
  margin: 20px 0;
}

.steps-box2 {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 400px;
  overflow: scroll;
  color: black;
  font-size: 20px;
  color: white;
  margin-right: 200px;
  margin-top: 50px;
  line-height: 25px;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
}
.map-window2 {
  width: 100%;
  margin-left: 100px;
}
