.login {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
}
.login li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.login label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.login input[type="text"],
.login input[type="date"],
.login input[type="datetime"],
.login input[type="number"],
.login input[type="search"],
.login input[type="time"],
.login input[type="password"],
.login input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.login input[type="text"]:focus,
.login input[type="date"]:focus,
.login input[type="datetime"]:focus,
.login input[type="number"]:focus,
.login input[type="search"]:focus,
.login input[type="time"]:focus,
.login input[type="url"]:focus,
.login input[type="email"]:focus,
.login textarea:focus,
.login select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.login .field-divided {
  width: 49%;
}

.login .field-long {
  width: 100%;
}
.login .field-select {
  width: 100%;
}
.login .field-textarea {
  height: 100px;
}
.login input[type="submit"],
.login input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.login input[type="submit"]:hover,
.login input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.login .required {
  color: red;
}
