.welcome-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 1.7;
  background-image: url("https://cdn.shopify.com/s/files/1/0904/4132/files/HowtoTakeMTBphotos_Rad-Subject-Rad-BG.jpg");
}

.text {
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
}
.sign-up-link {
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
}

.big-text {
  font-size: 32px;
  line-height: 34px;
  color: #fff;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 44px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
}

.sign-up-btn {
  -webkit-tap-highlight-colorpadding: 12px 35px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  width: 200px;
  padding: 12px 35px;
  border-radius: 4px;
  background-color: greenyellow;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  font-weight: 500;
  text-align: center;
}
