.donate-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.521);
  background-image: url("https://g.foolcdn.com/editorial/images/480069/man-reaching-for-sack-of-money.jpg");
}
