.donate-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  background-image: url("https://g.foolcdn.com/editorial/images/480069/man-reaching-for-sack-of-money.jpg");
  text-shadow: 2px 2px 5px black;
}

.donate-cont input {
  width: 20%;
  border: 0;
  font-family: inherit;
  font-size: 1.6em;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  background: none;
  color: #000000;
}

.donate-cont input::placeholder {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.6em;
  text-shadow: 2px 2px 5px black;
}

.donate-cont input:focus {
  background: none;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  text-shadow: 2px 2px 5px black;
}
