header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
  box-shadow: 2px 2px 5px black;
  z-index: 2;
}

img {
  width: 30%;
  height: 80px;
}

.login-controls {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin: 20px 0;
  text-align: center;
  padding: 10px 5px;
}

.login-controls > li > a {
  text-decoration: none;
}

.login-controls > li {
  width: 200px;
  cursor: pointer;
}
.login-controls li :hover {
  text-decoration: underline;
}

.login-controls a {
  letter-spacing: 0.3px;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.login-controls.hover {
  opacity: 1;
}

.greeting {
  font-size: 24px;
}
