header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
  box-shadow: 2px 2px 5px black;
  background: white;
  z-index: 1;
}

#logo {
  height: 96%;
  width: 30%;
}

.login-controls {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
}

.login-controls > li {
  width: 200px;
  cursor: pointer;
}

.login-controls :hover {
  text-decoration: underline;
}

.login-controls {
  letter-spacing: 0.3px;
  font-size: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
}

.login-controls.hover {
  opacity: 1;
}

.greeting {
  font-size: 24px;
}
