.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.outer-cont {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(250, 246, 246, 0.918);
  height: 100vh;
  justify-content: center;
  width: 60%;
  align-items: center;
  border-left: 3px groove rgb(250, 246, 246);
  border-right: 3px groove rgb(250, 246, 246);
  overflow: scroll;
}
.mast-img img {
  height: 400px;
  width: 100vw;
}
